:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --fondo: #dfe9f3;
}

/*GLOBALES*/
html {
    font-size: 62.5%;
    box-sizing: border-box; /*truco para box model*/
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {  /*ayuda para el box model*/
    box-sizing: inherit;
}
body {
    font-size: 16px; /* 1rem=10px */
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--fondo) 0%, var(--blanco) 100%);
}
.contenedor {
    max-width: 120rem;
    /*"margin: 0px auto 0px auto;" se lee como "margin: arriba derecha abajo izquierda"*/
    margin: 0 auto; /*es igual a "margin: arriba-abajo derecha-izquierda"*/
}
.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 2rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 80%;
    text-align: center;
    border: none;
}
.boton:hover {
    cursor: pointer;
}
@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}
.sombra {
    -webkit-box-shadow: 1px 5px 15px 0px rgba(87,87,87,0.56);
    -moz-box-shadow: 1px 5px 15px 0px rgba(87,87,87,0.56);
    box-shadow: 1px 5px 15px 0px rgba(87,87,87,0.56);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: .5rem;
}

/*TIPOGRAFIA*/
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 1.8rem;
}
h1, h2, h3 {
    text-align: center;
}

/*titulos*/
.titulo span {
    font-size: 2rem;
}

/**UTILIDADES**/
.w-sm-100 {
    width: 100%;
}
@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}
.flex {
    display: flex;

}
.alinear-derecha {
    justify-content: flex-end;
}

/*NAVEGACION PRINCIPAL*/
.nav-bg {
    background-color: var(--secundario);
}
.navegacion-principal {
    display: flex;  /*como tal flex no hara nada en el programa; sin embargo, si nos habilitara algunas funciones unicas (flexbox)*/
    flex-direction: column;
    
}
@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between; /*permite tener un espaciado simetrico entre los elementos hijos*/
    }
}
.navegacion-principal a {
    display: block;
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
}
.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

/*hero*/
.hero {
    background-image: url(../image/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    position: relative;
    margin-bottom: 2rem;
}
.contenido-hero {
    position: absolute;
    background-color: rgb( 0 0 0 / 60%);
    width: 100%;
    height: 100%;

    /*codigo para alinear texto tanto horizontal como verticalmente*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2, .contenido-hero p {
    color: var(--blanco);
}
.contenido-hero .ubicacion {
    display: flex;
    align-items: flex-end;
}

/**SCROLL-SNAP**/
.servicios, .navegacion-principal, .formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}


/*SERVICIOS*/
@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid: 40rem/ 1fr 1fr 1fr; /*(1fr 1fr 1fr) <=> (33.3% 33.3% 33.3%) <=> (repeat(3, 1fr))*/
        column-gap: 1rem;
    }
}
.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3 {
    color: var(--secundario);
    font-weight: normal;
}
.servicio p {
    line-height: 1.5;
    text-align: center;
}
.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*FORMULARIO DE CONTACTO*/
.formulario {
    background-color: var(--gris);
    width: min(60rem, 100%);   /*min utiliza el primer valor como el predeterminado y en caso el segundo valor sea más pequeño que el primero, se usara el segundo valor*/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}
.formulario fieldset {
    border: none;
}
.formulario legend {
    color: var(--primario);
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
        .contenedor-campos {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto 20rem;
            column-gap: 1rem;
            margin-bottom: 1rem;
        }
        .campo:nth-child(3), .campo:nth-child(4) {
            grid-column: 1 / 3;
        }
}
.campo {
    margin-bottom: 1rem;
}
.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}
.enviar .boton {
    width: 100%;
}
.campo textarea {
    height: 20rem;   
}

/**FOOTER**/
.footer {
    text-align: center;
}